<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--  add name="ShipsMD5EntityFrameWork" connectionString="metadata=res://*/ShipsMD5EntityFramework.csdl|res://*/ShipsMD5EntityFramework.ssdl|res://*/ShipsMD5EntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZSDB\MAIN;initial catalog=Barcode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <!--add name="ShipsMD5EntityFrameWork" connectionString="provider=System.Data.SqlClient;data source=ZSDB\MAIN;initial catalog=Barcode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <!-- add name="ShipsMD5EntityFrameWork" connectionString="data source=ZSDB\MAIN;initial catalog=Barcode;integrated security=True; multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" /-->
    <!--add name="ShipsMD5EntityFrameWork" connectionString="Data Source=ZSDB\MAIN;Initial Catalog=Barcode;Integrated Security=true;" providerName="System.Data.SqlClient"  /-->
    <add name="ShipsMD5EntityFrameWork" connectionString="Data Source=ZSDB\MAIN;Initial Catalog=Barcode;Integrated Security=false;User ID=sa;Password=ghjnjrjk;" providerName="System.Data.SqlClient"  />
  </connectionStrings>
</configuration>